
<form [formGroup]="gForm" (ngSubmit)=" onSubmit()"> 

    <div class="form-group">
        <label for="nf-email">Email</label>
        <input type="email" id="nf-email"  formControlName="email"  class="form-control" placeholder="Entrer Email.." [(ngModel)]="user.email" >
      </div>
      <div class="form-group">
        <label for="nf-email">Nom</label>
        <input type="text" id="nom"  formControlName="nom"  class="form-control" placeholder="Entrer Nom.." [(ngModel)]="user.nom" >
      </div>
      <div class="form-group">
        <label for="nf-email">Prenom</label>
        <input type="prenom" id="prenom"  formControlName="prenom"  class="form-control" placeholder="Entrer Prenom.." [(ngModel)]="user.prenom">
      </div>
     
      <div class="form-group">
        <label for="nf-password">Password</label>
        <input type="password"  formControlName="password" id="password"  class="form-control" placeholder="Enter Password.." [(ngModel)]="user.password" >
      </div>
 
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Type</label>
        
        <div for=" Option" *ngFor="let mc of ChooseCriteria" class="col-md-2 col-form-label">
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox"  formControlName="type" (change)="onChange(mc)" [checked]="mc.isSelected" value="{{mc.category}}" >
            <label class="form-check-label" for="inline-checkbox1" > {{ mc.category }}</label>
          </div>

         <!--  <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="pricipale">
            <label class="form-check-label" for="inline-checkbox2">principale</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="Formateur">
            <label class="form-check-label" for="inline-checkbox3">Formateur</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="maitre assistnat">
            <label class="form-check-label" for="inline-checkbox3">maitre assistant</label>
          </div> -->
        </div>
        
      </div>


      <button type="submit" class="btn btn-primary px-4">Envoyer</button>
</form>

