
<form [formGroup]="gForm" (ngSubmit)=" onSubmit()"> 

    <div class="form-group">
        <label for="nf-email">Nom Matière</label>
        <input type="email" id="nf-email"  formControlName="email"  class="form-control" placeholder="Entrer Nom Matière.." [(ngModel)]="user.email" >
      </div>
      <div class="form-group">
        <label for="nf-email">Classe</label>
        <input type="text" id="nom"  formControlName="nom"  class="form-control" placeholder="Entrer Nom.." [(ngModel)]="user.nom" >
      </div>
      <div class="form-group">
        <label for="nf-email">Enseignant</label>
        <input type="prenom" id="prenom"  formControlName="prenom"  class="form-control" placeholder="Entrer Prenom.." [(ngModel)]="user.prenom">
      </div>
     
      <div class="form-group">
        <label for="nf-email">Heure Début</label>
        <input type="prenom" id="prenom"  formControlName="prenom"  class="form-control" placeholder="Entrer Heure Début.." [(ngModel)]="user.prenom">
      </div>

      <div class="form-group">
        <label for="nf-email">Heure Fin</label>
        <input type="prenom" id="prenom"  formControlName="prenom"  class="form-control" placeholder="Entrer Heure Fin.." [(ngModel)]="user.prenom">
      </div>

      <button type="submit" class="btn btn-primary px-4">Envoyer</button>
  </form>
  
  