<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Liste des Enseignants</h3>
    <br>
      <div class="row">
        <div class="col-lg-4 pull-right">
          <div class="input-group">
            <span class="input-group-btn">
          
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-striped">
            <thead>
            <tr style="font-weight: bold">
              <td> Email</td>
              <td>Nom</td>
              <td> Prenom</td>
              <td>Role</td>
              <td>Type</td>

              <!--<td>Photo</td>-->
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let job of enseignants">
              <td>{{ job.email }}</td>
              <td>{{ job.nom }}</td>
              <td>{{ job.prenom }}</td>
              <td>{{ job.role }}</td>
              <td>{{ job.type }}</td>


              <td>
                <a [routerLink]="['/enseignants/enseignantsModifier' , job.id]" class="btn btn-block btn-primary">Modifier</a>
              </td>
            
              <td class="text-right">
                  <a (click)="deleteEnseignant(job.id)" class="btn btn-block btn-danger">Supprimer</a>
              </td>
             
             <!-- <td>
                  <span *ngIf="candidate.photo">
                  <img src="data:image/jpg;base64,{{ candidate.photo }}" class="img-responsive" width="100px"/>
                </span>
              </td>-->
          


            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>